table {
  border-spacing: 0;
  border: 10px double white;
  max-width: 900px;
  margin-bottom: 24px;
}
th {
  border-bottom: 2px dashed white;
  border-right: 2px dashed white;
  border-spacing: 0px;
  padding: 0.5rem 1rem 0.5rem 1rem;
}
th:last-child {
  border-right: 0;
}
td {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 2px dashed white;
  border-right: 2px dashed white;
  max-width: 200px;
  word-break: break-all;
}
td:last-child {
  border-right: 0;
}
tr:last-child td {
  border-bottom: 0;
}

.error {
  border-color: red;
  color: red;
}
.valid {
  border-color: green;
  color: green;
}

.button_container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.button {
  min-width: 46px;
  height: 46px;
  border: 3px dashed white;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
}
.button:disabled {
  border-color: gray;
  color: gray;
}

.select {
  height: 46px;
  border: 3px double white;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
}

a {
  color: inherit;
}
